#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	echo "DH AUTO BUILD OVERRIDE"
	echo "$(CURDIR)"

	rsync --recursive --progress src/ linux

	RETROKIOSK_ARCH=$$(dpkg-architecture -qDEB_HOST_ARCH) envsubst '$$RETROKIOSK_ARCH' \
		< linux/usr/lib/systemd/user/retrokiosk.service \
		> linux/usr/lib/systemd/user/retrokiosk.service.tmp
	mv linux/usr/lib/systemd/user/retrokiosk.service.tmp linux/usr/lib/systemd/user/retrokiosk.service

override_dh_usrlocal:
	echo "DH usrlocal override due to over restrict rules"
