#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
DH_VERBOSE=1

ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)

%:
	dh $@

override_dh_auto_build:
	echo "DH AUTO BUILD OVERRIDE"
	echo "$(CURDIR)"

	rsync --recursive --progress src/ linux

	sed -i "s/@RETROKIOSK_ARCH@/$(ARCH)/" linux/usr/lib/systemd/user/retrokiosk.service

override_dh_usrlocal:
	echo "DH usrlocal override due to over restrict rules"
