.eg.cache
.eg.workload
*.archive.d
.flatpak-builder
flatpak.build.*
.torrent
*.log
notes*.md
.torrent.bolt.db
retrovibed.client.yml
retrivobed.vibed
*.bin
*.designs
dist/*
# FVM Version Cache
.fvm/
retroapi/searchplugin-noop
