[Unit]
Description=retrovibed Console kiosk session on tty%I
After=systemd-user-sessions.service getty@tty%i.service network-online.target ssh.service
Wants=network-online.target
Requires=ssh.service
Conflicts=getty@tty%i.service
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
User=retrokiosk
Group=retrokiosk
PAMName=login
TTYPath=/dev/tty%I
TTYReset=yes
TTYVTDisallocate=yes
ExecStartPre=+/usr/bin/chvt %I
ExecStartPre=/usr/bin/retrozsync -o /usr/lib/retrokiosk/retrovibed.AppImage https://github.com/retrovibed/retrovibed/releases/latest/download/retrovibed.linux.@RETROKIOSK_ARCH@.AppImage.zsync
ExecStartPre=/usr/bin/chmod +x /usr/lib/retrokiosk/retrovibed.AppImage
ExecStart=/usr/bin/cage -- /usr/lib/retrokiosk/retrovibed.AppImage --appimage-extract-and-run --fullscreen
Restart=always
RestartSec=2

[Install]
WantedBy=graphical.target
Also=ssh.service
