[Unit]
Description=retrokiosk greeter
Documentation=man:greetd(1)
After=systemd-user-sessions.service plymouth-quit-wait.service getty@tty1.service
Conflicts=getty@tty1.service

[Service]
Type=idle
ExecStart=/usr/bin/greetd --config /etc/retrokiosk/greetd.toml
Restart=always
IgnoreSIGPIPE=no

[Install]
Alias=display-manager.service
