[Unit]
Description=retrovibed daemon service
After=network.target

[Service]
Restart=always
User=retrovibed
Group=retrovibed
CacheDirectory=%h/.cache/%p
ConfigurationDirectory=%h/.config/%p
RuntimeDirectory=%p
RuntimeDirectoryMode=0700
EnvironmentFile=-/etc/retrovibed/config.env
ExecStart=/usr/bin/retrovibed daemon

[Install]
WantedBy=default.target