[Unit]
Description=retrovibed daemon service
After=network.target

[Service]
Restart=always
User=retrovibed
Group=retrovibed
CacheDirectory=%p
RuntimeDirectory=%p
RuntimeDirectoryMode=0700
EnvironmentFile=-/etc/retrovibed/config.env
ExecStart=/usr/bin/retrvibed daemon

[Install]
WantedBy=default.target