[Desktop Entry]
Name=Retrovibe
Comment="A versatile application for data archival and media playback"
Exec=retrovibed
Icon=space.retrovibe.Console
Type=Application
Categories=Player;Utility;Archiving;AudioVideo;
Terminal=false
StartupNotify=true
StartupWMClass=space.retrovibe.Console
Keywords=retro;console;emulator;game;archive;data;media;player;video;audio;
X-AppImage-Version=${VERSION}
X-AppImage-Name=retrovibed
X-AppImage-Arch=${ARCH}
X-AppImage-UpdateInformation=gh-releases-zsync|retrovibed|retrovibed|latest|retrovibed-*-${ARCH}.AppImage.zsync
