[Unit]
Description=retrovibed Console kiosk session
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStartPre=/usr/bin/zsync -o /usr/lib/retrokiosk/retrovibed.AppImage https://github.com/retrovibed/retrovibed/releases/latest/download/retrovibed.linux.@RETROKIOSK_ARCH@.AppImage.zsync
ExecStart=/usr/lib/retrokiosk/retrovibed.AppImage --appimage-extract-and-run --fullscreen
Restart=always
RestartSec=2

[Install]
WantedBy=graphical-session.target
